<h1>WELCOME TO OUR WEBSITE</h1>


<p> Dear <%= user.name %>,<p>

  <br>

  <p> HEY WELCOME TO OUR WEBSITE. WE'RE SUPER PSYCHED TO HAVE YOU JOIN US! PRETTY SOON YOU'LL BE CHANYING LIKE A REAL CULTIST GOING 1 OF US 1 OF US!!!!
    YEAH!
  </p>

  <p>Sincerely</p><br>
  <p>AppAcademy</p>
