html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

h2 + .user_review {
  border-top: 1px solid black;
}

/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}

@media (max-width: 900px) {
  nav ul {
    display: none;
  }



  .hamburger-dropdown {
    display: block;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background: url('images/hamburger.png');
  }
  .hamburger-dropdown > li {
    width: 50px;
    height: 50px;
    /* nearest relatively positioned parent of absolute positioned child */
    position: relative;
    cursor: pointer;
  }
  .hamburger-dropdown ul {
    /* Every time we position an element absolutely we should be thinking about
    which parent element we need to position relatively */
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    cursor: pointer;
    box-shadow: black 5px 5px 10px;
  }

  /* This is how we create pure css dropdown effects. No JS required. */
  .hamburger-dropdown:hover ul {
    display: flex;
    background: ghostwhite;
  }

  .hamburger-dropdown ul li:hover a {
    text-decoration: underline;
  }
};
